# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache

# Environment variables and secrets
.env
*.env

# Virtual environment
venv/
.env/
.venv/

# Flask instance folder (runtime data)
instance/

# SQLite database files (optional, remove if you want them in Git)
*.db
*.sqlite

# Log files
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter notebooks checkpoints
.ipynb_checkpoints

# IDE / editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS system files
.DS_Store

# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
