# --- Flask ---
FLASK_APP=app
FLASK_ENV=development

# --- JWT ---
JWT_SECRET_KEY=super-jwt-secret # Change this! Make it long and complex. HS512 (64 bytes) preset is recommended and using symbols. Go to https://zerowp.com/jwt-secret-generator/ to generate a strong secret key.
JWT_ACCESS_TOKEN_EXPIRES=3600 # 1 hour (3600 seconds)
JWT_REFRESH_TOKEN_EXPIRES=259200 # 3 days (259200 seconds)

# --- Database (Firebird) ---
# Format: firebird+fdb://user:password@host:port/route/database.fdb

# Example for ASPEL SAE 8.0 using fdb driver  
# General Database firebird+fdb://SYSDBA:masterkey@localhost:3050/C:/Program Files (x86)/Common Files/Aspel/Sistemas Aspel/SAE8.00/Ejemplos.fdb
# Authentication Database firebird+fdb://SYSDBA:masterkey@localhost:3050/C:/Program Files (x86)/Common Files/Aspel/Perfiles/PERFILES.FDB

# Example  using firebird-driver firebird+firebird://sysdba:masterkey@localhost///home/testuser/projects/databases/my_project.fdb

# ------

# We can use another engine, for example, PostgreSQL or MySQL.
#However, this is not covered in this example since BAMX is designed specifically for Firebird because they use ASPEL SAE 8.0.

# General database
GENERAL_DB_URI=firebird+fdb://user:password@host:port/route/database.fdb
# Authentication database
AUTH_DB_URI="firebird+fdb://user:password@host:port/route/database.fdb"

SQLALCHEMY_ECHO=false
SQLALCHEMY_TRACK_MODIFICATIONS=false

#TABLE NAMES
INVENTORY_TABLE=INVE01
PRODUCTS_TABLE=PROD01
WAREHOUSE_TABLE=ALMACENES01


